**/
!backend/
!common/
!gradle/
!buildSrc/
!build.gradle.kts
!gradle.properties
!settings.gradle.kts
!gradlew.bat
!gradlew
!detekt-config.yml
!.git/

Dockerfile.backend
backend/build/
backend/out/
backend/src/main/resources/application.properties
