*.env
cl.local.properties
**/.terraform/
**/secret.auto.tfvars

### IntelliJ ###
out/
*.iml
.idea/
!.idea/codeStyles/Project.xml
!.idea/encodings.xml
!.idea/vcs.xml

### Java ###
target/

### Gradle ###
.gradle
**/build/
problematicInputs/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.DS_Store
client/types


**/local.settings.json
**/venv
/Users/marekpolak/Projects/breviary/.idea/breviary.iml
/backend/src/main/resources/application.properties
.env
.env.breviary-dev